*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.container{
  width:100%;
  min-height: 100vh;
  /* display: flex; */
  background: linear-gradient(135deg,  rgb(11, 117, 215),rgb(226, 36, 243));
  padding: 10px;

}
.todo-app{
  width: 100%;
  max-width:540px;
  margin: 20px auto 20px;
  padding: 4px, 30px; 
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  color:#ffffff;   
  display: flex;
  margin-bottom: 20px;

}

.todo-app  img{
  width: 450px;
  margin-left: 10px;
  border-radius: 10px;
  height: 290px;
     
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  height:64px ;
  margin-bottom: 25px;
  
 }

 input{
  margin-right: 10px;
  border:none;
  outline: none;
  font-size: 25px;
  border-radius: 10px;
  background: rgba(225, 225, 225, 0.44);
    
 }

 button{
  cursor: pointer;
  border:none;
  outline: none;
  border-radius: 50px;
  padding: 8px 25px;
  background: #0b0707;
  color: rgb(229, 225, 225);
  font-size: 16px;
  /* border-radius: 40px; */
 }

 
 ul li{
  list-style: none;
   text-align: center;
   right: 0;
   font-size: 28px;
   padding: 12px 1px 12px 50px;
   user-select: none;
   cursor: pointer;
   width: fit-content;
   position: relative;
   /* width: 350px; */
   /* margin-left: 520px; */
  border:none;
  outline: none;
  display: flex;

    
 }

 ul li::before{
  content:  '';
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-image: url(img/unchecked.png);
  background-size: cover;
  background-position: center;
  left: 1px;
  top: 10px

 }

 #list-container {
  padding-left: 8vh;
  /* margin: 10px; */
  /* background: rgb(198, 237, 244); */
  max-width:540px;
  margin: 20px auto 10px;
  /* padding: 90px, auto 10px;  */
  border-radius: 10px;
  width: 100%;
  
}

 ul li.checked{
  color: rgb(21, 7, 32);
  text-decoration: line-through;

 }

 ul li.checked::before{
  color: rgb(21, 7, 32);
  text-decoration: line-through;
  background-image: url(img/checked.png);

 }

 ul li span{
  position:absolute;
  left: 220px;
  top: 10px;
  width: 23px;
  height: 23px;
  font-size: 43px;
  color: rgb(11, 11, 11);
  line-height: 40px;
  text-align: center;
  margin-left: 190px;
  padding-right: 36px;
  /* display: none; */
  align-content: center;
  align-items: center;
  border-radius: 50%;
 
 }

 ul li span:hover{
  text-align: center;
  width: 40px;
  height: 40px;
  background: rgb(164, 245, 253);
  /* margin-left: 20px;
  padding-left: 120px; */
  cursor: pointer;
  /* transition:.8s ease all; */
  /* transform: scale(.9) rotate(-35deg); */
  
 }